@font-face {
  src: url(../../fonts/roboto.woff) format('woff');
  font-family: 'Roboto';
}
.login {
  color: white;
  display: flex;
  font-family: 'Roboto';
  flex-direction: column;
  justify-content: center;
}
.login__welcome {
  font-size: 24px;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login__form input {
  
}
.login__form label {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 6px;
}
.login__signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.login__signup p {
  margin-right: 12px;
}
.signup__link {
  color: white;
}
.login__button-container {
  display: flex;
  justify-content: center;
}
.login__link {
  text-align: center;
  margin-top: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 16px;
}